.nav-container{
    background-color: aquamarine;
    padding: 5px;
    
    
}
.nav-container:hover{
    background-color: burlywood;
}
@media only screen and (max-width : 375px) {
    .nav-container{
        grid-template-columns: 1fr 1fr;
    }
    
}
